* {
	text-align: center;
	position: relative; top:-2px;
}

h1 {
	margin-top: 2em;
}
.columns {
	margin: auto;
	display: flex;
    flex-direction: row;
    justify-content: center;
	margin-top: 4em;
}

.card{
	height: max-content;
    padding-bottom: 30%;
	padding-top: 5%;
	margin-top: 2em;
    
}


.card .card-image,
.card .card-image .image img {
  height: 100px;

}